.form-search{
	width: 1000px;
	margin-right: 130px;
}

.search{
	width: 900px;
	margin-top: 9px;
	height: 35px;
}

.cari{
	margin-bottom: 5px;
	height: 35px;

}

.nav1{
	margin-right: 20px;
}

.nav2{
	margin-right: 5px;
	height: 35px;
	margin-top: 6px;
}